<div class="key-value-container" fxLayout="row" fxLayoutGap="6px" *ngFor="let pair of currentKeyValuePairs; let i = index">
    <mat-form-field appearance="outline" class="pd-b-0">
      <mat-label>key</mat-label>
      <input matInput required [formControl]="pair.key" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="pd-b-0">
      <mat-label>value</mat-label>
      <input matInput [formControl]="pair.value" />
    </mat-form-field>

    <button mat-icon-button (click)="removePair(i)"><mat-icon>remove</mat-icon></button>
  </div>
<button mat-icon-button color="primary" (click)="addPair()"><mat-icon>add</mat-icon> new set</button>