.code-mirror {
    height: 100%;
    .CodeMirror {
        height: 100%;
        .CodeMirror-hscrollbar {
            display: none!important;
        }
        .CodeMirror-scroll {
            padding-top: 12px;
            .CodeMirror-lines {
                padding-bottom: 120px;
            }
        }
    }
}
