.code-container {
  margin: 0 0 0 16px;
  position: relative;
  
  .editor-buttons-block {
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 4;
  }
}

.code {
  overflow: auto;
  position: relative;
}

.btn-code-refresh {
  color: #222;
  background-color: #fff;
  box-shadow: none;

  .mat-icon {
    font-size: 20px;
    height: 21px;
  }
}

.pseudo-toggle-button {
  display: none;
}

@media (max-width: 410px) {
  .code-container {
    flex-direction: column!important;
  }
}

.gear-menu {
  margin: 10px 0 10px 0;
}
