<div fxLayout="column" fxFill>
  <div fxLayout="row" class="code-container" fxLayoutGap="8px" fxLayoutAlign="flex-end center">
    <button *ngIf="mode === 'compose'" (click)="codeRefresh()" mat-icon-button color="primary" aria-label="refresh code" class="btn-code-refresh">
      <mat-icon>loop</mat-icon>
    </button>

    <form [formGroup]="versionSelectForm">
      <mat-form-field *ngIf="mode === 'compose'" appearance="outline" class="input-short">
        <mat-select [(value)]="selectedSpecificVersion" name="version" (selectionChange)="changeVersion('select')">
          <mat-option [value]="version" *ngFor="let version of specificVersions">
            {{ version.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    
    <button [matMenuTriggerFor]="menu" class="gear-menu" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="link-button" mat-menu-item color="primary" (click)="openImportDialog()">
        Import
      </button>
    </mat-menu>
    
    <div class="editor-buttons-block" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="flex-end center">
      <!-- <button mat-raised-button [disabled]="mode === 'compose'" (click)="save()">
        Save
      </button> -->
      <button *ngIf="mode === 'compose'" mat-icon-button color="white" (click)="changeMode()">
        <mat-icon *ngIf="mode === 'compose'">edit</mat-icon>
      </button>

      <button *ngIf="mode === 'import'" mat-flat-button (click)="changeMode()">
        <span>Done</span>
      </button>
      <button mat-flat-button [cdkCopyToClipboard]="code" (click)="changeButtonText()">
        {{buttonText}}
      </button>
    </div>
    <!-- <mat-button-toggle-group [(value)]="selectedVersion.value">
      <span class="pseudo-toggle-button">
        <mat-button-toggle [value]="0"></mat-button-toggle>
      </span>
      <mat-button-toggle *ngFor="let version of versions" [value]="version.value" (change)="changeVersion('toggle')">{{
        version.title
      }}</mat-button-toggle>
    </mat-button-toggle-group> -->
  </div>
  <ngx-codemirror
    [(ngModel)]="code"
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: codeFormat,
      readOnly: mode === 'compose',
      extraKeys: extraKeys
      }"
    (click)="handelEditorClick()"
    (touchend)="handelEditorClick()"
    (focusout)="handelFocusout()"
    class="code-mirror"
  ></ngx-codemirror>
</div>
