<div fxLayout="row" fxFill>
    <app-side-bar></app-side-bar>
  
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">

        <form [formGroup]="loginForm" fxLayout="column" fxFlex="40" fxLayoutAlign="center ">
            <h1>Login</h1>
            <button mat-raised-button class="github-button" type="button" (click)="gitHubAuth()">
                <span  fxLayoutGap="20px" fxLayoutAlign="center center">
                    <img src="assets/github-logo-black.svg" class="icon" alt="" />
                    <span>Login with GitHub</span>
                </span>
            </button>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required />
            </mat-form-field>
            <div fxLayout="row"  fxLayoutAlign="space-between center">
                <button mat-button (click)="_location.back()" type="button">Back</button>
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-end center">
                    <button mat-button type="button" [routerLink]="['/auth/registration']">Create account</button>
                    <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="success" (click)="login()">Login</button>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <mat-error *ngFor="let errorMessage of errors">{{errorMessage}}</mat-error>
            </div>
        </form>
    </div>
    <app-spinner></app-spinner>
  </div>
  