<div fxLayout="row" fxFill>
    <app-side-bar></app-side-bar>
  
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">

        <form [formGroup]="registrationForm" fxLayout="column"fxFlex="30" fxLayoutAlign="center ">
            <h1>Registration</h1>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password1" type="password" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="password2" type="password" required />
            </mat-form-field>

            <div fxLayout="row"  fxLayoutAlign="space-between center">
                <button mat-button (click)="_location.back()" type="button">Back</button>
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-end center">
                    <button mat-button type="button" [routerLink]="['/auth/login']">Login</button>
                    <button mat-raised-button [disabled]="registrationForm.invalid" (click)="registration()">Create account</button>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <mat-error *ngFor="let errorMessage of errors">{{ errorMessage }}</mat-error>
            </div>
        </form>
    </div>
    <app-spinner></app-spinner>
  </div>
  