<h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content class="dialog-details">
  <p>{{ data.description }}</p>
  <div class="dialog-details-body" [innerHTML]="data.full_description | marked"></div>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <div fxLayout="column">
    <div fxLayoutAlign="end center">
      <button mat-button (click)="onNoClick()">Close</button>
      <button mat-raised-button (click)="addProject()" [mat-dialog-close]="data.name" cdkFocusInitial>Add</button>
    </div>
  </div>
</div>
