django==4.0.4
django-cors-headers==3.11.0
django-axes==5.32.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
django-storages==1.13.1
drf-extensions==0.7.1
dj-rest-auth[with_social]==2.2.4

psycopg[binary]==3.0.12
psycopg==3.0.12
psycopg2-binary==2.9.3
uwsgi==2.0.20
botocore==1.24.46
boto3==1.21.46
requests==2.27.1
pyaml==21.10.1
ruamel.yaml==0.17.21
networkx==2.8.5
numpy==1.23.1
