<h1 mat-dialog-title>{{mode === 'editing' ? 'Update recipe' : 'Publish a recipe'}}</h1>
<h4 class="title">{{title}}</h4>
<div [formGroup]="form" mat-dialog-content fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      class="textArea"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      formControlName="desc"></textarea>
    <mat-hint>Supports Markdown.</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Keywords</mat-label>
    <input matInput formControlName="keywords" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Source repository url</mat-label>
    <input matInput formControlName="repo" />
    <mat-hint>Nuxx will try to read additional data from your source, and users will be able to visit the repo.</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Raw Docker Compose file url</mat-label>
    <input matInput formControlName="raw_url" />
    <mat-hint>Nuxx will read this file to load your recipe into view.</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="private" [labelPosition]="'before'" class="mg-b-15">Private</mat-checkbox>
  <mat-hint>Private recipes won't show up as latest or in searches.</mat-hint>
</div>
<div fxLayout="column" fxLayoutGap="2px">
  <div mat-dialog-actions fxLayoutGap="2px" fxLayoutAlign="end center">
    <button *ngIf="mode === 'editing'" mat-button (click)="onRemove.emit(uuid)">
      <span class="material-icons">
          delete
      </span>
    </button>
    <button mat-raised-button (click)="dialogRef.close()">Close</button>
    <button mat-raised-button color="success" (click)="addRecipe()" cdkFocusInitial>{{mode === 'editing' ? 'Update' : 'Publish'}}</button>
  </div>
  
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
    <mat-error *ngFor="let errorMessage of errors">{{errorMessage}}</mat-error>
  </div>
</div>
