<h1 mat-dialog-title>Account</h1>
<mat-dialog-content>
    <div>
        <mat-label>First name</mat-label>
        <h3>{{data.first_name ? data.first_name : '_'}} </h3>
    </div>

    <div>
        <mat-label>Last name</mat-label>
        <h3>{{data.last_name ? data.last_name : '_'}} </h3>
        
    </div>

    <div>
        <mat-label>Email</mat-label>
        <h3>{{data.email}} </h3>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="logout()">Logout</button>
</mat-dialog-actions>
