.side-bar {
  width: 60px;
  background-color: #0049b0;
  color: white;
  box-shadow: none;
  visibility: hidden;
  display: none !important;
  transform: translate3d(-100%, 0, 0);
  transition: all 300ms;

  &__item {
    height: 70px;
    cursor: pointer;
    &__wrapper {
      width: 30px;
      height: 30px;
      border-radius: 30px;

      img {
        width: 20px;
      }
    }

    &__user-logo {
      &__wrapper {
        position: relative;
        width: 40px;

        .initials-wrap {
          color: #0048b0;
          background: #fff;
          width: 40px;
          display: inline-block;
          height: 40px;
          border-radius: 20px;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 40px;
        }
      }
      &__initials {
        color: #fff;
        position: absolute;
        font-weight: 900;
        font-size: 20px;
        margin: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: 11px;
      }
      img {
        width: 40px;
      }
    }
  }
  &.opened {
    transform: none;
    visibility: visible;
    display: flex !important;
  }
}

.search-toggle-item.opened {
  background-color: #023e94;
}

.logo {
  height: 92px;
  cursor: pointer;
  img {
    width: 30px;
  }
}
