{
  "root": true,
  "ignorePatterns": [
    "build/",
    "node_modules/"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "postcss.config.js",
        "tailwind.config.js"
      ],
      "env": {
        "node": true
      },
      "parserOptions": {
        "sourceType": "script"
      },
      "rules": {
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "prettier/prettier": "off"
      }
    }
  ],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "error",
    "no-empty-function": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-explicit-any": [
      "off",
      {}
    ]
  }
}
