<div fxLayout="row" fxFill>
  <app-side-bar
    [currentOpenedSideNavItem]="currentOpenedSideNavItem"
    (toogleSideBarItem)="openSideBarItem($event)"
    [(sidebarStatus)]="showSidebar"
  ></app-side-bar>

  <div fxLayout="column" fxFlex="calc(100% - 60px)">
    <app-header class="header-container"></app-header>
    <mat-drawer-container fxFlex autosize [hasBackdrop]="false">
      <mat-drawer #sideNav [mode]=" currentOpenedSideNavItem === 'searchPanel' ? 'side' : 'over'" [ngClass]="currentOpenedSideNavItem">
        <app-repo-search *ngIf="currentOpenedSideNavItem === 'searchPanel'" ></app-repo-search>

        <app-recipe *ngIf="currentOpenedSideNavItem === 'recipe'"></app-recipe>
      </mat-drawer>
      <span [ngStyle]="{'left.px': currentOpenedSideNavItem === 'searchPanel' ? 10 : sideNav._width + 10 }" class="material-icons close-nav-button" *ngIf="showCloseButton && currentOpenedSideNavItem" (click)="openSideBarItem({name: null})">
        close
      </span>
      <as-split fxLayout="row" fxLayoutAlign="center center" fxFill>
        <as-split-area style="position: relative;" size="62">
          <app-canvas></app-canvas>
        </as-split-area>
        <as-split-area class="code-viewer" maxSize="60" size="38">
          <app-code-view></app-code-view>
        </as-split-area>
      </as-split>
      <div *ngIf="showSidebar === false">
        <button class="search-toggle-btn" type="button" mat-button (click)="showSidebar = !showSidebar">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" />
          </svg>
        </button>
      </div>
    </mat-drawer-container>
  </div>

  <app-spinner></app-spinner>
</div>
